
span, p, h1, h2, h3, h4, h5, h6, label, .title, label, text, textentry, i {
  font-family: "DS-Digital";
  font-weight: 400;
  color: #0af149;
  text-shadow: 0 0 5px #FFF, 0 0 30px #49FF18, 0 0 75px #49ff18, 2px 2px 2px rgba(206,89,55,0);
  font-size: 45px;
}